.header2{ 
    background-color: #F0F2F5;;
    width: 100%;  
    text-align: center;   
    position : fixed;
    top: 0;  
}
form{
    margin-top: 15px;
    
}
input{
    border-radius:10px;
    border: 1px solid gray;
}
input:focus{
    border: 1px solid blue;
}
  
ul{
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    font-size: 12px;
    
    
}

li{
    margin-right: 180px;
    margin-top: 15px;
}

.searchBar{
    display: flex;
}

.barIcon{
    display: flex;
    
}

.body2{
    background-color: #F0F2F5 ;   
}

main{
    display: flex;
    margin-top: 80px;
}


.left_column{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #bbbcbd;
    
}

.middle_column1{
    background-color: #FFFFFF;
    width: 100%;
    height: 270px;
    order: 2;
    padding: 1rem;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px #bbbcbd;
    padding-bottom: 10px;
   
}
.middle_column2{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    order: 2;
    padding: 1rem;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px #bbbcbd;
   
}
article{
    display: flex;
    flex-wrap: wrap;
}

.right_column{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    order: 3;
    padding: 1rem;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px #bbbcbd;
}

.container{
    display: flex;

}

.vignette{
    width: 90%;
    justify-content: space-around;
    border-radius: 10px;
    /* border: 1px solid #F0F2F5; */
    box-shadow: 5px 5px 10px #bbbcbd;
    margin-bottom: 0.5rem;

}

.button{
    color: #1877F2;
    background: #1877F2;
    border: 1px solid #1877F2;

}
.button:hover{
    color: #1877F2;
    background-color: #1877F2;
}

